.chart-container {
	position: relative;
}

.chart-legend {
    width: auto;
    border: 1px solid black;
    display: inline-block;
    float: right;

}

.chart-legend .title {
    color: #0088cc;
    display: block;
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
    text-decoration: none;
}
.chart-legend .title:hover {
    cursor: pointer;
	text-decoration: underline;
}