#incident-div {
	position: relative;
}

.chart-legend {
    width: 12em;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 25%;
}

.chart-legend .title {
    color: #0088cc;
    display: block;
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
    text-decoration: underline;
}
.chart-legend .title:hover {
    cursor: pointer;
	text-decoration:none;
}